:root {
  --header-height: 256px;
  --footer-height: 456px;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
.kickerliga-link {
  color: #e80000;
  text-decoration: none;
}
.bg-dark {
  color: white;
}
