<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neue Meldung</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333333;
      }
      p {
        color: #666666;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>%s haben sich gemeldet!</h1>
      <p>Im Anhang befindet sich die formatierte CSV.</p>
      <p>Hier noch die Spielerliste als Übersicht:</p>
      <p>%s</p>
      <p>Liebe Grüße,</p>
      <p>Marcel Witoschek</p>
    </div>
  </body>
</html>
